In [1]:
#palindrome
a='devil'
b= ''
for i in a:
#     print("I----->",i)
    b=i+b
print("B ----->",b)
if a==b:
    print("Palindrome")
else:
    print('Not P ')

B -----> lived
Not P

In [2]:
b='xyz'
i=''
for x in b:
    i = i+b
print(i)

xyzxyzxyz

In [3]:
a = [89,67,45,90,99,23,67,1,-9,34]
a.sort()

In [4]:
a

[-9, 1, 23, 34, 45, 67, 67, 89, 90, 99]

In [5]:
a = [89,67,45,90,99,23,67,1,-9,34]
a.sort(reverse=True)

In [6]:
a

[99, 90, 89, 67, 67, 45, 34, 23, 1, -9]

In [7]:
# reverse
a = [89,67,45,90,99,23,67,1,-9,34]
a.reverse()

In [8]:
a

[34, -9, 1, 67, 23, 99, 90, 45, 67, 89]

In [9]:
# append
a = [89,67,45,90,99,23,67,1,-9,34]
a.append(100)

In [10]:
a

[89, 67, 45, 90, 99, 23, 67, 1, -9, 34, 100]

In [11]:
#insert
x = [89, 67, 45, 90, 99, 23, 67, 1, -9, 34, 100]
x.insert(0,44)

In [12]:
x

[44, 89, 67, 45, 90, 99, 23, 67, 1, -9, 34, 100]

In [13]:
x.insert(5,28)

In [14]:
x

[44, 89, 67, 45, 90, 28, 99, 23, 67, 1, -9, 34, 100]

In [15]:
#pop,remove
s = [44, 89, 67, 45, 90, 28, 99, 23, 67, 1, -9, 34, 100]

In [16]:
s.pop(0)

44

In [17]:
s

[89, 67, 45, 90, 28, 99, 23, 67, 1, -9, 34, 100]

In [18]:
#remove
s

[89, 67, 45, 90, 28, 99, 23, 67, 1, -9, 34, 100]

In [19]:
s.remove(-9)

In [20]:
s

[89, 67, 45, 90, 28, 99, 23, 67, 1, 34, 100]

# Tuple

In [21]:
# how to create a tuple
a = (34,56,78,90)
a

(34, 56, 78, 90)

In [22]:
type(a)

tuple

In [23]:
a = ('ram','abc','def','123')
a

('ram', 'abc', 'def', '123')

In [24]:
type(a)

tuple

In [25]:
x= (12,34,56,'ram','abc','def','123',78.90,45.8,True,12,34)
x

(12, 34, 56, 'ram', 'abc', 'def', '123', 78.9, 45.8, True, 12, 34)

In [26]:
type(x)

tuple

In [27]:
#slicing   indexing
x

(12, 34, 56, 'ram', 'abc', 'def', '123', 78.9, 45.8, True, 12, 34)

In [28]:
x[0]

12

In [29]:
x[0:5]

(12, 34, 56, 'ram', 'abc')

In [31]:
#mutable or not?
x[0]=100

TypeError: 'tuple' object does not support item assignment

In [33]:
#index
# count
a = '$%%^^^&#$@','amit',1,23,89

In [34]:
a

('$%%^^^&#$@', 'amit', 1, 23, 89)

In [35]:
type(a)

tuple

In [36]:
#index,count
x = (12, 34, 56, 'ram', 'abc', 'def', '123', 78.9, 45.8, True, 12, 34)

In [37]:
x

(12, 34, 56, 'ram', 'abc', 'def', '123', 78.9, 45.8, True, 12, 34)

In [44]:
x.index('abc')

4

In [45]:
#count
x

(12, 34, 56, 'ram', 'abc', 'def', '123', 78.9, 45.8, True, 12, 34)

In [55]:
x.count('ram')

1

In [56]:
y = (False,12, 34, 56, 'ram', 'abc', 'def', '123', 78.9, 45.8, True, 12, 34)

In [57]:
y

(False, 12, 34, 56, 'ram', 'abc', 'def', '123', 78.9, 45.8, True, 12, 34)

In [58]:
y.count(0)

1

In [59]:
y =(False, 12, 34, 56, 'ram', 'abc', 'def', '123', 78.9, 45.8, True, 12, 34,0)

In [62]:
y.count(12)

2

In [63]:
#wap to strore 5 items in a list entered by the user.

# wap to display marks of 5 students and also display them in
# sorted manner.

# Check if tuple is mutable or not?

# wap to sum a list of 5 no.?

#wap to count no. of 5 in a tuple
# tuple = (5,-5,55,555,50,-555,-50)

# Check if the item is present in a list or not?
# item = ['python','java','sql']

In [65]:
#wap to strore 5 items in a list entered by the user.
a = input("Enter the first item")
b = input("Enter the second item")
c = input("Enter the third item")
x = [a,b,c]
print(x)

Enter the first itemapple
Enter the second itemmango
Enter the third itemiphone
['apple', 'mango', 'iphone']

In [66]:
a=str(input("enter the 1 item in the list"))
b=str(input("enter the 2 item in the list"))
c=str(input("enter the 3 item in the list"))
d=str(input("enter the 4 item in the list"))
e=str(input("enter the 5 item in the list"))
list={a,b,c,d,e}
print(list)

enter the 1 item in the listq
enter the 2 item in the listw
enter the 3 item in the liste
enter the 4 item in the listr
enter the 5 item in the listt
{'e', 'w', 'q', 'r', 't'}

In [67]:
type(list)

set

In [68]:
type(x)

list

In [70]:
# wap to display marks of 5 students and also display them in
# sorted manner.
a = int(input("Enter the first marks"))
b = int(input("Enter the second marks"))
c = int(input("Enter the third marks"))
x = [a,b,c]
print("before sorting",x)
x.sort()
print("after sorting",x)

Enter the first marks45
Enter the second marks90
Enter the third marks12
before sorting [45, 90, 12]
after sorting [12, 45, 90]

In [72]:
tup=[60,70,80,90,50,40]
print(tup)
tup[0]=10
print(tup)

[60, 70, 80, 90, 50, 40]
[10, 70, 80, 90, 50, 40]

In [73]:
a = 10,80,78
print(a)

(10, 80, 78)

In [74]:
a[0]

10

In [75]:
a[0]=12

TypeError: 'tuple' object does not support item assignment

In [80]:
# Check if the item is present in a list or not?
# item = ['python','java','sql']
if item ==['python','java','sql']:
    print('y')
else:
    print('invalid input')

y

In [81]:
x = [1,2,3,4]
add = sum(x)
print(add)

10