In [1]:
#dict------>key,value
x = {
    
    'name':'abc',
    'age':23,
    'marks':34
}
x

{'name': 'abc', 'age': 23, 'marks': 34}

In [2]:
type(x)

dict

In [3]:
a = {'name':'abc','age':23,'marks':34}
a

{'name': 'abc', 'age': 23, 'marks': 34}

In [4]:
type(a)

dict

In [5]:
#slicing indexing
a

{'name': 'abc', 'age': 23, 'marks': 34}

In [6]:
a[0:]

TypeError: unhashable type: 'slice'

In [7]:
# dict has no index
a

{'name': 'abc', 'age': 23, 'marks': 34}

In [8]:
a['name']

'abc'

In [9]:
#mutable or not??
a

{'name': 'abc', 'age': 23, 'marks': 34}

In [10]:
a['marks']=90

In [11]:
a

{'name': 'abc', 'age': 23, 'marks': 90}

In [12]:
a

{'name': 'abc', 'age': 23, 'marks': 90}

In [13]:
#n no.student dict
a = {
    'name':['abc','roushan','arjun'],
    'marks':(34,56,89)
    
}

In [14]:
a

{'name': ['abc', 'roushan', 'arjun'], 'marks': (34, 56, 89)}

In [15]:
type(a)

dict

# Data collection part4

In [23]:
#wap to a dict inside a dict?
a = {
    'name':'xyz',
    'age':30,
    'salary':20000,
    
    'b':{
        'company':'ABC'
    }
}

In [21]:
a

{'name': 'xyz', 'age': 30, 'salary': 20000, 'b': {'company': 'ABC'}}

In [24]:
b['company']

NameError: name 'b' is not defined

In [25]:
a

{'name': 'xyz', 'age': 30, 'salary': 20000, 'b': {'company': 'ABC'}}

In [27]:
a['b']['company']

'ABC'

In [35]:
a = {
    'name':['xyz','abc','wer'],
    'age':[30,34,56],
    'salary':(20000,30000,40000),
    
    'b':{
        'company':['ABC','ASD','ISM']
    }
}

In [36]:
a

{'name': ['xyz', 'abc', 'wer'],
 'age': [30, 34, 56],
 'salary': (20000, 30000, 40000),
 'b': {'company': ['ABC', 'ASD', 'ISM']}}

In [41]:
a['name'][1]='roushan'

In [42]:
a

{'name': ['xyz', 'roushan', 'wer'],
 'age': [30, 34, 56],
 'salary': (20000, 30000, 40000),
 'b': {'company': ['ABC', 'ASD', 'ISM']}}

In [45]:
a['salary'][1]=50000

TypeError: 'tuple' object does not support item assignment

In [46]:
#dict with in a dict??
a

{'name': ['xyz', 'roushan', 'wer'],
 'age': [30, 34, 56],
 'salary': (20000, 30000, 40000),
 'b': {'company': ['ABC', 'ASD', 'ISM']}}

In [50]:
a['b']['company'][0]='Google'

In [51]:
a

{'name': ['xyz', 'roushan', 'wer'],
 'age': [30, 34, 56],
 'salary': (20000, 30000, 40000),
 'b': {'company': ['Google', 'ASD', 'ISM']}}

In [52]:
#dict method---->item,key,value
a

{'name': ['xyz', 'roushan', 'wer'],
 'age': [30, 34, 56],
 'salary': (20000, 30000, 40000),
 'b': {'company': ['Google', 'ASD', 'ISM']}}

In [53]:
#keys
a.keys()

dict_keys(['name', 'age', 'salary', 'b'])

In [54]:
#values
a.values()

dict_values([['xyz', 'roushan', 'wer'], [30, 34, 56], (20000, 30000, 40000), {'company': ['Google', 'ASD', 'ISM']}])

In [56]:
#item
a.items()

dict_items([('name', ['xyz', 'roushan', 'wer']), ('age', [30, 34, 56]), ('salary', (20000, 30000, 40000)), ('b', {'company': ['Google', 'ASD', 'ISM']})])

<!-- SET -->

In [57]:
# set---->
# no index
# no order
# immutable

#set integer
a = {1,2,3,4}

In [58]:
a

{1, 2, 3, 4}

In [59]:
type(a)

set

In [60]:
#set of string
a = {'ram','shyam','mohan'}

In [61]:
a

{'mohan', 'ram', 'shyam'}

In [62]:
x = {89,56,99,0,12}
x

{0, 12, 56, 89, 99}

In [63]:
#no index
x[0]

TypeError: 'set' object is not subscriptable

In [65]:
# duplicacy no allowed
x={'ram',2,3,True,34.9}
x

{2, 3, 34.9, True, 'ram'}

In [69]:
s = {22,90,89,78,22,90,0,False,0}
s

{0, 22, 78, 89, 90}

In [70]:
#wap to create empty set
# wap to create single element set.
x = {1}
print(x)
print(type(x))

{1}
<class 'set'>

In [73]:
#empty
x=set()
x

set()

In [74]:
type(x)

set